* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }

  
.container {
    margin-top: 50px;
}


input {
  margin: 1rem 0;
  max-width: 100%;
 }

 .button {
  margin: 2rem 0;
  max-width: 70%;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.15rem;
  color: #262626;
  border: none;
  background-color: #9756bc;
  padding: 0.75em 1.50rem;
  box-shadow: 3px 3px 0 0 #f3f3f3;
  transition: box-shadow 0.2s ease-in-out;
  text-align: center;
}

.button:hover {
  box-shadow: 0 0 0 0 #ffffff;
}

