* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }

  
.container {
    margin-top: 50px;
}


input {
  margin: 1rem 0;
  max-width: 100%;
 }

.movies-section {
  justify-content: space-around;
  align-items: flex-start;
}